<html>
    <head>
        <link rel="stylesheet" href="css/site.css">
        <title>Home</title>
        <link rel="shortcut icon" href="photos/logo.jpeg" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div id="hdr">
                <h2><a href="/" >GOVERMENT GIRLS SENIOR SECONDARY SMART SCHOOL</a></h2>
                <a href="/" ><img  src="photos/logo.jpeg" alt="Logo"></a>
            </div>
        </header>
        <nav>
            <a href="/" >Home</a><br><br>
            <a href="/contact" >Contact</a><br><br>
            <a href="/admission" >Admission</a><br><br>
            <a href="/office" >Office Login</a><br><br>
            <a href="https://www.pseb.ac.in/" target="_blank">PSEB</a><br><br>
        </nav>
        <section>
            {{{body}}}
        </section>
        <footer>
            <div id="ftr">
                &copy; 2020 GOVERMENT GIRLS SENIOR SECONDARY SMART SCHOOL
                <div id="lnk">
                    <a href="/" >Home</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </footer>
    </body>
</html>