<h2>Contact Info</h2>
<div id = "contact">
    <h3>Phone</h3>
    <a href="tel:+91183-2220682">+91183-2220682</a><br>
    <h3>Email</h3>
    <a href=" mailto:ggssmallroadasr@gmail.com" target="_blank">ggssmallroadasr@gmail.com</a><br><br>
    <a href=" mailto:asr.gsssmallroadgirls@punjabeducation.gov.in" target="_blank">asr.gsssmallroadgirls@punjabeducation.gov.in</a><br>
    <h3>School Adress</h3>
    <a href="https://goo.gl/maps/HtgmnMjt5XWLz3tc9" target="_blank">Govt. Girls Senior Secondary Smart School, The Mall, Amritsar. Pin-143001.</a><br>
</div>