<div class="row">
              <h2>Facilities</h2>
              <div class="facilities">
              <div class="column">
                <img src="photos/facilities/f01.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f02.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f03.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f04.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f05.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f06.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f07.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f08.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f09.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f10.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f11.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f12.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f13.jpg" onclick="openModal();currentSlide(13)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f14.jpg" onclick="openModal();currentSlide(14)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f15.jpg" onclick="openModal();currentSlide(15)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f16.jpg" onclick="openModal();currentSlide(16)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f17.jpg" onclick="openModal();currentSlide(17)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f18.jpg" onclick="openModal();currentSlide(18)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f19.jpg" onclick="openModal();currentSlide(19)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f20.jpg" onclick="openModal();currentSlide(20)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f21.jpg" onclick="openModal();currentSlide(21)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f22.jpg" onclick="openModal();currentSlide(22)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f23.jpg" onclick="openModal();currentSlide(23)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/facilities/f24.jpg" onclick="openModal();currentSlide(24)" class="hover-shadow">
              </div>
            </div>
            <h2>Premises</h2>
              <div class="premises">
              <div class="column">
                <img src="photos/premises/P1.jpg" onclick="openModal();currentSlide(25)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/premises/P2.jpg" onclick="openModal();currentSlide(26)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/premises/P3.jpg" onclick="openModal();currentSlide(27)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/premises/P4.jpg" onclick="openModal();currentSlide(28)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/premises/P5.jpg" onclick="openModal();currentSlide(29)" class="hover-shadow">
              </div>
              </div>
              <h2>Staff</h2>
              <div class="staff">
              <div class="column">
                <img src="photos/staff/s1.jpg" onclick="openModal();currentSlide(30)" class="hover-shadow">
              </div>
              <div class="column">
                <img src="photos/staff/s2.jpg" onclick="openModal();currentSlide(31)" class="hover-shadow" style="height: 100px;">
              </div>
              <div class="column">
                <img src="photos/staff/s3.jpg" onclick="openModal();currentSlide(32)" class="hover-shadow"style="height: 100px;">
              </div>
              <div class="column">
                <img src="photos/staff/s4.jpg" onclick="openModal();currentSlide(33)" class="hover-shadow"style="height: 100px;">
              </div>
              <div class="column">
                <img src="photos/staff/s5.jpg" onclick="openModal();currentSlide(34)" class="hover-shadow"style="height: 100px;">
              </div>
              <div class="column">
                <img src="photos/staff/s6.jpg" onclick="openModal();currentSlide(35)" class="hover-shadow"style="height: 100px;">
              </div>
              <div class="column">
                <img src="photos/staff/s7.jpg" onclick="openModal();currentSlide(36)" class="hover-shadow"style="height: 100px;">
              </div>
              </div>
            </div>
            
            <!-- The Modal/Lightbox -->
            <div id="myModal" class="modal">
              <span class="close cursor" onclick="closeModal()">&times;</span>
              <div class="modal-content">
            
                <div class="mySlides">
                  <div class="numbertext">1 / 36</div>
                  <img src="photos/facilities/f01.jpg" style="width:100%">
                </div>
            
                <div class="mySlides">
                  <div class="numbertext">2 / 36</div>
                  <img src="photos/facilities/f02.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">3 / 36</div>
                  <img src="photos/facilities/f03.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">4 / 36</div>
                  <img src="photos/facilities/f04.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">5 / 36</div>
                  <img src="photos/facilities/f05.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">6 / 36</div>
                  <img src="photos/facilities/f06.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">7 / 36</div>
                  <img src="photos/facilities/f07.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">8 / 36</div>
                  <img src="photos/facilities/f08.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">9 / 36</div>
                  <img src="photos/facilities/f09.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">10 / 36</div>
                  <img src="photos/facilities/f10.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">11 / 36</div>
                  <img src="photos/facilities/f11.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">12 / 36</div>
                  <img src="photos/facilities/f12.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">13 / 36</div>
                  <img src="photos/facilities/f13.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">14 / 36</div>
                  <img src="photos/facilities/f14.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">15 / 36</div>
                  <img src="photos/facilities/f15.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">16 / 36</div>
                  <img src="photos/facilities/f16.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">17 / 36</div>
                  <img src="photos/facilities/f17.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">18 / 36</div>
                  <img src="photos/facilities/f18.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">19 / 36</div>
                  <img src="photos/facilities/f19.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">20 / 36</div>
                  <img src="photos/facilities/f20.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">21 / 36</div>
                  <img src="photos/facilities/f21.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">22 / 36</div>
                  <img src="photos/facilities/f22.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">23 / 36</div>
                  <img src="photos/facilities/f23.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">24 / 36</div>
                  <img src="photos/facilities/f24.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">25 / 36</div>
                  <img src="photos/premises/P1.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">26 / 36</div>
                  <img src="photos/premises/P2.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">27 / 36</div>
                  <img src="photos/premises/P3.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">28 / 36</div>
                  <img src="photos/premises/P4.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">29 / 36</div>
                  <img src="photos/premises/P5.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">30 / 36</div>
                  <img src="photos/staff/s1.jpg" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">31 / 36</div>
                  <img src="photos/staff/s2.jpg" style="width:70%; height:720px;">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">32 / 36</div>
                  <img src="photos/staff/s3.jpg" style="width:70%; height:720px;">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">33 / 36</div>
                  <img src="photos/staff/s4.jpg" style="width:70%; height:720px;">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">34 / 36</div>
                  <img src="photos/staff/s5.jpg" style="width:70%; height:720px;">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">35 / 36</div>
                  <img src="photos/staff/s6.jpg" style="width:70%; height:720px;">
                </div>
                
                <div class="mySlides">
                  <div class="numbertext">36 / 36</div>
                  <img src="photos/staff/s7.jpg" style="width:70%; height:720px;">
                </div>
                
            
                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
                <!-- Caption text -->
                <div class="caption-container">
                  <p id="caption"></p>
                </div>
            
                <!-- Thumbnail image controls -->
                <div class="column">
                  <img class="demo" src="photos/facilities/f01.jpg" onclick="currentSlide(1)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f02.jpg" onclick="currentSlide(2)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f03.jpg" onclick="currentSlide(3)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f04.jpg" onclick="currentSlide(4)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f05.jpg" onclick="currentSlide(5)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f06.jpg" onclick="currentSlide(6)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f07.jpg" onclick="currentSlide(7)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f08.jpg" onclick="currentSlide(8)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f09.jpg" onclick="currentSlide(9)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f10.jpg" onclick="currentSlide(10)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f11.jpg" onclick="currentSlide(11)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f12.jpg" onclick="currentSlide(12)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f13.jpg" onclick="currentSlide(13)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f14.jpg" onclick="currentSlide(14)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f15.jpg" onclick="currentSlide(15)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f16.jpg" onclick="currentSlide(16)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f17.jpg" onclick="currentSlide(17)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f18.jpg" onclick="currentSlide(18)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f19.jpg" onclick="currentSlide(19)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f20.jpg" onclick="currentSlide(20)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f21.jpg" onclick="currentSlide(21)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f22.jpg" onclick="currentSlide(22)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f23.jpg" onclick="currentSlide(23)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/facilities/f24.jpg" onclick="currentSlide(24)" alt="Facilities">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/premises/P1.jpg" onclick="currentSlide(25)" alt="Premises">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/premises/P2.jpg" onclick="currentSlide(26)" alt="Premises">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/premises/P3.jpg" onclick="currentSlide(27)" alt="Premises">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/premises/P4.jpg" onclick="currentSlide(28)" alt="Premises">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/premises/P5.jpg" onclick="currentSlide(29)" alt="Premises">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s1.jpg" onclick="currentSlide(30)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s2.jpg" onclick="currentSlide(31)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s3.jpg" onclick="currentSlide(32)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s4.jpg" onclick="currentSlide(33)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s5.jpg" onclick="currentSlide(34)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s6.jpg" onclick="currentSlide(35)" alt="Staff">
                </div>
            
                <div class="column">
                  <img class="demo" src="photos/staff/s7.jpg" onclick="currentSlide(36)" alt="Staff">
                </div>
            </div>
            </div>
            
            </div>
            <script>
              // Open the Modal
              function openModal() {
                document.getElementById("myModal").style.display = "block";
              }
              
              // Close the Modal
              function closeModal() {
                document.getElementById("myModal").style.display = "none";
              }
              
              var slideIndex = 1;
              showSlides(slideIndex);
              
              // Next/previous controls
              function plusSlides(n) {
                showSlides(slideIndex += n);
              }
              
              // Thumbnail image controls
              function currentSlide(n) {
                showSlides(slideIndex = n);
              }
              
              function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
                captionText.innerHTML = dots[slideIndex-1].alt;
              }

              </script>