<link rel="stylesheet" href="css/seyapa.css">
<!--
      <div><a href="/facilities"><img src="photos/facilities/f01.jpg"></a></div>
      <div><a href="/premises"><img src="photos/premises/P1.jpg"></a></div>
      <div><a href="/staff"><img src="photos/staff/s1.jpg"></a></div> 
-->
<div class="container">
  <div class="box">
    <a href="/facilities"><img src="photos/facilities/f01.jpg" width="640px"></a>
    <span>Facilities</span>
  </div>
  <div class="box">
    <a href="/premises"><img src="photos/premises/P1.jpg" width="640px"></a>
    <span>Premises</span>
  </div>
  <div class="box">
    <a href="/staff"><img src="photos/staff/s1.jpg" width="640px"></a>
    <span>Staff</span>
  </div>
</div>