<link rel="stylesheet" href="css/seyapa.css">
<!--
{{#each data}}
    <div class="col-md-4">
        <img src="photos/premises/{{this}}" class="img-responsive img-thumbnail">
    </div>
{{else}}
    <div class="col-md-12 text-center">
        <strong>No premises Images Available</strong>
    </div>
{{/each}}
-->
  