.row{margin-right:-15px;margin-left:-15px}
.col-md-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-md-12{width:100%}
.col-md-12{float:left}
.col-md-4{width:33.33333333%}
img{border:0}
img{page-break-inside:avoid}img{max-width:100%!important}
img{vertical-align:middle}
.img-responsive{display:block;max-width:100%;height:auto}
.img-thumbnail{display:inline-block;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}