body {
    background-color: #FFFDD0;
    color: #B70003;    
}

header {
    background-color: #B70003;
    color: #FFFDD0;
    display: inline-flex;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    height: 80px;
}

#hdr {
    display: inline;
    overflow: hidden;
    
}

header img {
    height: 95%;
    width: 6.2%;
    margin-top: 1px;
    float: right;
    margin-right: 10%;
}

header h2 {
    margin-left: 20px;
    margin-right: 10%;
    margin-top: 26px;
  
    
}
h2 a{
    color: #FFFDD0;
    text-decoration: none;
}

#hdr h2 {
    display: inline-flex;
    margin-left: 10px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #B70003;
    color: #FFFDD0;
    display: flex;
    width: 100%;
    background-position: bottom;
    position:absolute; 
    bottom:0px; 
    height:80px; 
    left:0px; 
    right:0px;
}

#ftr {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 35px;
    display: flex;
}

#lnk {
    margin-left: 20%;
    padding-left: 20%;
    padding-top: -5px;
    margin-top: -5px;
}

footer #ftr #lnk a {
    color: #FFFDD0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    text-decoration: none;
}

section {
    padding-left: 30px;
    margin-left: 30px;
    position:absolute; 
    top:100px; 
    bottom:100px; 
    left:200px; 
    right:100px; 
    overflow:auto;
    /*width: 80%;*/
    border-left: #B70003 solid;
}

nav {
    padding-left: 28px;
    margin-left: 28px;
    position:absolute; 
    top:120px; 
    bottom:120px; 
    left:0px; 
    right:0px; 
    overflow:auto;
}

a {
    text-decoration: none ;
    color: #B70003;
    font-size: 20px;
}

form {
    color: #B70003;
    font-size: 20px;
}

.line {
    float: left;
    width: 200px;
}

.line1 {
    float: right;
    width: 150px;
}

.line2 {
    float: left;
    width: 100px;
}

.line4 {
  float: left;
  width: 200px;
}

.frm2 {
  width: 80%;
}

.line3 {
    float: right;
    width: 100px;
}

.frm {
    width: 50%;
}

.frm1 {
    width: 25%;
}
/*drop down vaaste*/
.mnu{
  float: right;
  margin-right:11%;
}

.dropbtn {
  background-color: #FFFDD0;
  color: #B70003;
  padding: 16px;
  font-size: 14px;
  border: 4px bold #B70003;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown {
/*  position: relative;*/
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
/*  position: absolute;*/
  position: relative;
  background-color: #FFFDD0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #B70003;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {background-color: #FFFDD0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFDD0;}

/*delete user and sign up user vaaste*/

/* Unopened lightbox */
.lightbox {
  display: none;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #FFFDD0;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  content: "";
  cursor: default;
}